@charset "UTF-8";
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.chrome {
  background-image: url(../img/sprite-09873009245369795.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-09873009245369795.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-09873009245369795.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; }
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh; }
  .page main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page footer {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  padding-right: 15px;
  padding-left: 15px; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  line-height: 1.4;
  color: #4f4f4f;
  font-family: Myriad Pro, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a svg,
button svg {
  pointer-events: none; }

img {
  max-width: 100%;
  height: auto; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 160px;
  padding-left: 0; }

.main-nav__list-item {
  list-style: none; }
  .main-nav__list-item:hover .main-nav__list-link {
    opacity: 0.7; }

.main-nav__list-link {
  display: block;
  opacity: 1;
  padding: 13px 19px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }

.header__logo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(29%, #fff), color-stop(37%, #fdfdfd), color-stop(86%, #e7e6e6), to(#e2e2e2));
  background: linear-gradient(180deg, #fff 0, #fff 29%, #fdfdfd 37%, #e7e6e6 86%, #e2e2e2); }

.header__logo-wrapper {
  position: relative; }

.header__logo-link {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  width: 100px;
  height: 100px;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.header__logo-text {
  margin-left: 160px;
  padding: 0.9375rem 0 0.5625rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .25px;
  color: #867d67;
  font-size: 1.25rem;
  font-weight: 700; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #867d67;
  padding: 1rem 0 0.875rem; }

.header__menu-icon {
  display: none; }

.header__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__nav-wrapper--mobile {
    display: none; }

.header__nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.button {
  opacity: 1;
  min-width: 140px;
  border: 2px solid #264653;
  border-radius: 2px;
  background: none;
  padding: 0.1875rem 0.875rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  line-height: 28px;
  color: #264653; }
  .button--default:hover {
    border-color: #20636b;
    background-color: #20636b;
    color: #fff; }
  .button--default:active {
    background-color: #3caea3;
    color: #fff; }
  .button--default.active {
    position: relative;
    border-color: #3caea3;
    background-color: #3caea3;
    text-align: center;
    color: #fff; }
    .button--default.active .button__text {
      display: inline-block;
      position: relative;
      right: -0.625rem; }
      .button--default.active .button__text:before {
        display: block;
        position: absolute;
        top: 0.375rem;
        left: -1.25rem;
        margin-right: 0.3125rem;
        width: 0.9375rem;
        height: 0.9375rem;
        background-image: url("../img/checkmark.svg");
        background-size: cover;
        content: ''; }
  .button--header {
    opacity: 0.5;
    border: 2px solid #fff;
    border-color: #fff;
    padding: 0.1875rem 0.4375rem;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    color: #fff; }
    .button--header:hover {
      opacity: 1; }
  .button.active {
    opacity: 1;
    border-color: #3caea3;
    background-color: #3caea3;
    color: #fff; }
    .button.active .button__counter {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 0.9375rem;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: #fff;
      vertical-align: middle;
      color: #20636b;
      font-weight: 700; }

.search__panel-wrapper {
  background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e1), to(#fffffe));
  background: linear-gradient(0deg, #e2e2e1, #fffffe); }

.search__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.search__form {
  position: relative; }

.search__input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  line-height: 1;
  color: #4f4f4f;
  font-size: 0.875rem;
  font-weight: 700; }

.search__input-field {
  margin-left: 8.375rem;
  width: 18.75rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 0.625rem 1.25rem 0.9375rem;
  font-size: 1.125rem; }

.search__submit-button {
  position: absolute;
  right: 0.375rem;
  bottom: calc(50% - 1.125rem);
  border: none;
  background: none;
  cursor: pointer; }

.search__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.1875rem; }

.search__filter-title {
  margin-right: 1.75rem;
  padding-top: 0.125rem;
  text-transform: uppercase;
  line-height: 0.125px;
  color: #4f4f4f;
  font-size: 0.875rem;
  font-weight: 700; }

.search__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-left: 0; }

.search__filter-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 1.125rem;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  list-style: none;
  -webkit-transition: color 0.3s linear, border-bottom 0.3s linear;
  transition: color 0.3s linear, border-bottom 0.3s linear;
  letter-spacing: -0.125px;
  color: #3a3f6d;
  font-size: 0.875rem; }
  .search__filter-item--active {
    border-bottom: 3px solid #282828;
    color: #282828; }
  .search__filter-item:hover {
    border-bottom: 3px solid #282828;
    color: #282828; }
  .search__filter-item:last-child {
    margin-right: 0; }

.search__tags-wrapper {
  background: #f7f7f7;
  padding-top: 0.9375rem;
  padding-bottom: 0.8125rem; }

.search__tags-title {
  margin-top: 0;
  margin-bottom: 0.125rem;
  width: 25%;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700; }

.search__tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
  margin-right: -0.25rem;
  margin-bottom: 0;
  margin-left: -0.25rem;
  padding-left: 0; }

.search__tags-item {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  min-height: 1.5rem;
  border: 1px solid #867d67;
  border-radius: 1.875rem;
  background-color: #fff;
  padding: 0 0.875rem;
  padding-top: 0.0625rem;
  list-style: none;
  text-decoration: none; }
  .search__tags-item:hover {
    background-color: #f5f5f5; }
  .search__tags-item.active {
    border-color: #3caea3;
    background-color: #3caea3; }
    .search__tags-item.active .search__tags-link {
      color: #fff; }

.search__tags-link {
  text-decoration: none;
  color: #4f4f4f;
  color: #282828;
  font-size: 0.875rem; }

.search__description-wrapper {
  border-top: 1px solid #e2e2e1;
  background: #f7f7f7; }

.search__description {
  padding: 0.75rem 0 1.4375rem; }

.search__description-text {
  margin: 0;
  text-align: center;
  font-size: 0.875rem; }

.contractors__wrapper {
  padding-bottom: 1.125rem; }

.contractors__info {
  padding-right: 40px; }
  .contractors__info svg {
    position: relative;
    top: 0.25rem; }

.contractors__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.contractors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.125rem;
  border-top: 1px solid #e2e2e1;
  padding-top: 1.125rem;
  list-style: none; }
  .contractors__item:first-child {
    border-top: none; }

.contractors__logo {
  margin-right: 1.25rem; }

.contractors__img {
  width: 8.6875rem;
  max-width: 8.6875rem;
  height: 8.6875rem; }

.contractors__name {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 600; }

.contractors__link {
  text-decoration: none;
  color: #ab8b3f;
  font-size: 1.375rem; }
  .contractors__link:hover {
    text-decoration: underline; }

.contractors__city {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.9375rem; }
  .contractors__city svg {
    margin-right: 0.625rem; }

.contractors__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.contractors__contacts-item {
  margin-right: 2rem;
  list-style: none; }
  .contractors__contacts-item--email {
    margin-right: 0; }

.contractors__list-link {
  margin-left: 0.4375rem;
  text-decoration: none;
  color: #ab8b3f; }
  .contractors__list-link:hover {
    text-decoration: underline; }
  .contractors__list-link--phone {
    font-size: 0.875rem; }
  .contractors__list-link--email {
    font-size: 0.8125rem; }

.contractors__description {
  margin-top: 0.3125rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 200; }

.contractors__tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  word-wrap: wrap; }

.contractors__tag {
  position: relative;
  margin-right: 1.25rem;
  list-style: none;
  font-size: 0.8125rem;
  font-weight: 700; }
  .contractors__tag:last-child:before {
    display: none; }
  .contractors__tag:before {
    position: absolute;
    top: 0;
    right: -11px;
    content: '•'; }

.contractors__button {
  border-left: 1px dotted #ccc;
  padding-top: 0.4375rem;
  padding-left: 1.25rem; }

.contractors__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
  padding-left: 1.25rem; }

.contractors__projects-number {
  font-size: 0.75rem;
  font-weight: 700; }

.footer {
  border-top: 1px solid #e2e2e1;
  padding: 0.875rem 0; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__article {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-right: 4.6875rem; }
  .footer__title {
    margin-bottom: 0.5625rem;
    font-size: 1.25rem;
    font-weight: 200; }
  .footer__text {
    margin-top: 0;
    margin-bottom: 1.5625rem;
    font-weight: 200; }
  .footer__read-more-link {
    position: relative;
    text-decoration: none;
    color: #ab8b3f; }
    .footer__read-more-link:hover {
      text-decoration: underline; }
    .footer__read-more-link:after {
      display: inline-block;
      top: 0.25rem;
      right: -0.6875rem;
      margin-left: 0.1875rem;
      color: #282828;
      content: '»'; }
  .footer__list-wrapper {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-left: 5.625rem; }
  .footer__list-title {
    margin-top: 1.0625rem;
    margin-bottom: 0.5625rem;
    font-size: 1.25rem;
    font-weight: 200; }
  .footer__info-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .footer__info-item {
    list-style: none; }
  .footer__info-link {
    position: relative;
    text-decoration: none;
    color: #ab8b3f; }
    .footer__info-link:hover {
      text-decoration: underline; }
    .footer__info-link:after {
      display: inline-block;
      top: 0.25rem;
      right: -0.6875rem;
      margin-left: 0.1875rem;
      color: #282828;
      content: '»'; }
  .footer__copyright {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-top: 3.4375rem;
    text-align: center;
    font-size: 0.6875rem; }
  .footer__copyright-link {
    text-decoration: none;
    color: #ab8b3f;
    font-size: 0.6875rem; }
    .footer__copyright-link:hover {
      text-decoration: underline; }

.mobile-nav {
  width: 100%;
  background-color: #5e5748; }
  .mobile-nav__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .mobile-nav__list-link {
    display: block;
    position: relative;
    border-bottom: 1px solid #867d67;
    padding: 0.875rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem; }
  .mobile-nav__list-counter {
    margin-left: 5px;
    font-weight: 700; }

.taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
  margin-right: -0.25rem;
  margin-bottom: 0;
  margin-left: -0.25rem;
  padding-left: 0; }
  .taglist li {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    min-height: 1.5rem;
    border: 2px solid #867d67;
    border-radius: 2px;
    background-color: #fff;
    padding: 0 0.625rem;
    padding-top: 0.1rem;
    cursor: pointer;
    list-style: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #282828;
    font-size: 0.875rem; }
    .taglist li:hover {
      border-color: #20636b;
      background-color: #20636b;
      color: #fff; }
    .taglist li.tagsort-active {
      border-color: #3caea3;
      background-color: #3caea3;
      color: #fff; }
    @media screen and (max-width: 900px) {
  .header__logo-link {
    left: 0.3125rem;
    z-index: 100; }
  .search__panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .search__form {
    width: 100%;
    max-width: 450px; }
  .search__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1.3125rem;
    width: 100%; }
  .search__input-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .search__input-field {
    margin-left: 0;
    max-width: 13.4375rem; }
  .search__filter {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%; }
  .search__filter-title {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0.625rem; }
  .search__filter-list {
    margin-bottom: 0.5rem; }
  .search__tags-item {
    margin-top: 0.625rem; }
  .contractors__info {
    padding-right: 0.9375rem; }
  .contractors__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .contractors__button .button {
    min-width: 18.125rem; } }
    @media screen and (max-width: 700px) {
  .header__logo-text {
    margin-left: 6.875rem;
    padding: 1.5rem 0 1rem; }
  .header__logo-link {
    top: 5px;
    left: 0.3125rem;
    z-index: 100;
    width: 54px;
    height: 54px; }
  .header__nav-wrapper {
    display: none; }
    .header__nav-wrapper--mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 100%;
      z-index: 1;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out; }
      .header__nav-wrapper--mobile.active {
        max-height: 10.375rem; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0; }
  .header__menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0.9375rem;
    border: none;
    background: none;
    padding: 0.9375rem;
    padding-bottom: 1.0625rem;
    cursor: pointer; }
  .search__filter {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .contractors__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 2.5rem; }
  .contractors__info {
    margin-bottom: 0.9375rem; }
  .contractors__button {
    width: 100%;
    border-top: 1px dotted #ccc;
    border-left: none;
    padding-top: 1.25rem;
    padding-left: 0; }
    .contractors__button button {
      width: 100%; }
  .contractors__projects {
    padding-left: 6.875rem; }
  .footer__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__list-wrapper {
    padding-left: 0; }
  .footer__copyright {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; } }

/*# sourceMappingURL=style.css.map */
