mixin contractors()
  section.contractors
    .contractors__wrapper.container
      ul.contractors__list
        li.contractors__item
          .contractors__logo
          .contractors__info
            h2.contractors__name
              a.contractors__link(href="") Tmi Antti Puumanen
            p.contractors__city
              svg(width="18", height="18")
                  use(xlink:href="img/sprite-svg.svg#placeholder")
              | Helsinki
            ul.contractors__contacts-list
              li.contractors__contacts-item
                svg(width="18", height="18")
                    use(xlink:href="img/sprite-svg.svg#phone")
                a.contractors__list-link.contractors__list-link--phone(href="tel:") +358442546122
              li.contractors__contacts-item
                svg(width="18", height="18")
                  use(xlink:href="img/sprite-svg.svg#email") 
                a.contractors__list-link.contractors__list-link--email(href="mailto:") antti.puumanen@gmail.com
            p.contractors__description 
              | Vuodesta 2010 toiminimellä maalausalan pien urakoitsijana ja ali-urakoitsijana töitä tehnyt yhdenmiehen yritys. Koulutukseltani olen Maalari-artesaani.pt sekä Restaurointi-Kisälli.at. Erikois-osaamisena Marmorointi/kivijäljennökset.
            ul.contractors__tags-list
              li.contractors__tag Efektimaalaus
              li.contractors__tag Terassit
              li.contractors__tag Katot
          .contractors__button
            +button
            .contractors__projects
  