.contractors {
  &__wrapper {
    padding-bottom: 1.125rem;
  }

  &__info {
    padding-right: 40px;

    svg {
      position: relative;
      top: 0.25rem;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.125rem;
    border-top: 1px solid #e2e2e1;
    padding-top: 1.125rem;
    list-style: none;

    &:first-child {
      border-top: none;
    }
  }

  &__logo {
    margin-right: 1.25rem;
  }

  &__img {
    width: 8.6875rem;
    max-width: 8.6875rem;
    height: 8.6875rem;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    color: $link-text-color;
    font-size: 1.375rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__city {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.9375rem;

    svg {
      margin-right: 0.625rem;
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__contacts-item {
    margin-right: 2rem;
    list-style: none;
  }

  &__list-link {
    margin-left: 0.4375rem;
    text-decoration: none;
    color: $link-text-color;

    &:hover {
      text-decoration: underline;
    }

    &--phone {
      font-size: 0.875rem;
    }

    &--email {
      font-size: 0.8125rem;
    }
  }

  &__description {
    margin-top: 0.3125rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 200;
  }

  &__tags-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__tag {
    position: relative;
    margin-right: 1.25rem;
    list-style: none;
    font-size: 0.8125rem;
    font-weight: 700;

    &:last-child {

      &:before {
        display: none;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      right: -11px;
      content: '•';
    }
  }

  &__button {
    border-left: 1px dotted #ccc;
    padding-top: 0.4375rem;
    padding-left: 1.25rem;
  }

  &__projects {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.25rem;
    padding-left: 1.25rem;
  }

  &__projects-number {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
