- var header = true;

mixin button(header)
  if header
    button.button.button--header 
     span.button__text Pyydä tarjous
      span.button__counter.-js-counter
  else
    button.button.button--default
      span.button__text Pyydä tarjous!
