.button {
  opacity: 1;
  min-width: 140px;
  border: 2px solid #264653;
  border-radius: 2px;
  background: none;
  padding: 0.1875rem 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  line-height: 28px;
  color: #264653;

  &--default {
    &:hover {
      border-color: #20636b;
      background-color: #20636b;
      color: #fff;
    }

    &:active {
      background-color: #3caea3;
      color: #fff;
    }

    &.active {
      position: relative;
      border-color: #3caea3;
      background-color: #3caea3;
      text-align: center;
      color: #fff;

      .button__text {
        display: inline-block;
        position: relative;
        right: -0.625rem;

        &:before {
          display: block;
          position: absolute;
          top: 0.375rem;
          left: -1.25rem;
          margin-right: 0.3125rem;
          width: 0.9375rem;
          height: 0.9375rem;
          background-image: url('../img/checkmark.svg');
          background-size: cover;
          content: '';
        }
      }

    }
  }

  &--header {
    opacity: 0.5;
    border: 2px solid #fff;
    border-color: #fff;
    padding: 0.1875rem 0.4375rem;
    transition: opacity 0.2s linear;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }

  &.active {
    opacity: 1;
    border-color: #3caea3;
    background-color: #3caea3;
    color: #fff;

    .button__counter {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-left: 0.9375rem;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: #fff;
      vertical-align: middle;
      color: #20636b;
      font-weight: 700;
    }
  }
}
