.button {
  opacity: 1;
  min-width: 140px;
  border: 1px solid #264653;
  border-radius: 2px;
  background: none;
  padding: 3px 14px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  line-height: 28px;
  color: #264653;

  &--default {
    &:hover {
      background-color: #20636b;
      color: #fff;
    }

    &:active {
      background-color: #3caea3;
      color: #fff;
    }

    &.active {
      border-color: #3caea3;
      background-color: #3caea3;
      color: #fff;

      &:before {
        margin-top: 1px;
        margin-right: 5px;
        content: '✔';
      }
    }
  }

  &--header {
    opacity: 0.5;
    border: 1px solid #fff;
    border-color: #fff;
    color: #fff;
  }

  &.active {
    opacity: 1;
    border-color: #3caea3;
    background-color: #3caea3;
    color: #fff;
    
    .button__counter {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-left: 0.9375rem;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: #fff;
      vertical-align: middle;
      color: #20636b;
      font-weight: 700;
    }
  }
}
