mixin footer()
  footer.footer
    .footer__wrapper.container
      article.footer__article
        h2.footer__title Löydä lähin luotettava tekijä!
        p.footer__text Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.
        a.footer__read-more-link(href="#") Lue lisää
      
      .footer__list-wrapper
        p.footer__list-title Yleistä
        ul.footer__info-list
          li.footer__info-item
            a.footer__info-link(href="/about/") Tietoa palvelusta
          li.footer__info-item
            a.footer__info-link(href="/about/contact/") Ota yhteyttä
      
      .footer__copyright © 2019 Tikkurila Oyj - 
        a.footer__copyright-link(href="https://www.tikkurila.fi/") www.tikkurila.fi
      
