mixin mobile-nav()
  -
    var mobileMenu = {
      'Tekijät': '/painters/',
      'Tietoa palvelusta': '/about/'
    };

  nav.mobile-nav
    ul.mobile-nav__list
      each val, key in mobileMenu
        li.mobile-nav__list-item
          a.mobile-nav__list-link(href=val, title=key)= key
      li.mobile-nav__list-item 
        a.mobile-nav__list-link(href="#") Pyydä tarjous
          span.mobile-nav__list-counter.-js-counter
