.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-right: -0.25rem;
  margin-bottom: 0;
  margin-left: -0.25rem;
  padding-left: 0;

  li {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    min-height: 1.5rem;
    border: 2px solid #867d67;
    border-radius: 2px;
    background-color: #fff;
    padding: 0 0.625rem;
    padding-top: 0.1rem;
    cursor: pointer;
    list-style: none;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #282828;
    font-size: 0.875rem;

    &:hover {
      border-color: #20636b;
      background-color: #20636b;
      color: #fff;
    }

    &.tagsort-active {
      border-color: #3caea3;
      background-color: #3caea3;
      color: #fff;
    }
  }
}
