extends templates/layout-home.pug

block meta
  title Tekijät  - Tikkurilan Tekijäpankki
  meta(name='description', content=' Lisää tekijäksi maalausprojektiisi soveltuvat urakoitsijat ja lähetä tarjouspyynnöt kerralla kolmelle tekijälle.')

block header
  +header

block content

block footer
