.header {
  &__logo {
    background: linear-gradient(180deg, #fff 0, #fff 29%, #fdfdfd 37%, #e7e6e6 86%, #e2e2e2);
  }

  &__logo-wrapper {
    position: relative;
  }

  &__logo-link {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__logo-text {
    margin-left: 9.0625rem;
    padding: 0.9375rem 0 0.5625rem;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .25px;
    color: #867d67;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #867d67;
    padding: 16px 0 14px;
  }

  &__nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav-button {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
