mixin header()
  header.header
    .header__logo
      .header__logo-wrapper.container
        a.header__logo-link(href="/")
        .header__logo-text Tekijäpankki
    .header__nav
      button.header__menu-icon
        svg(width="30", height="32" style="fill:#ffffff")
            use(xlink:href="img/sprite-svg.svg#menu-icon")
      .header__nav-wrapper.container 
        +main-nav
        .header__nav-button.-js-count-button
          +button(header)

      .header__nav-wrapper.header__nav-wrapper--mobile
        +mobile-nav

